* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
.container {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
.form,
.tasks {
  background-color: #eee;
  margin: 0 auto 20px auto;
  width: 70%;
  padding: 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.form {
  display: flex;
  justify-content: space-between;
}
.input,
.add {
  padding: 10px;
  border: none;
  border-radius: 5px;

  font-size: 18px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.input {
  flex: 1;
  margin-right: 10px;
  color: #747171;
  text-transform: capitalize;
}
.input:focus {
  outline: none;
}
.add {
  background-color: #f44336;
  color: #fff;
  cursor: pointer;
}
.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  font-size: 18px;
  text-transform: capitalize;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.task:not(:last-child) {
  margin-bottom: 20px;
}
.task.done {
  opacity: 0.5;
}
.task:hover {
  background-color: #cfcfcf;
}
.task .del {
  background-color: #EEE;
  color: red;
  padding: 5px 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
